﻿@model smart_mirror_web.Source.Models.HomeModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I Love You</title>
    @Styles.Render("~/Content/css")
    <style>
        .calendar {
            align-self: flex-start;
        }
    </style>
</head>
<body class="mirror">
    <div class="clear eyelevel">
        <div id="weather">
            <div class="temperature"></div>
            <div class="conditions">
                <span></span>
                <img id="weather-icon" alt="" />
            </div>
            <div class="weather-location"></div>
        </div>
        <div class="timely-content">
            <div id="timestamp" style="text-align: center">
                <div id="time"></div>
                <span id="day"></span>, <span id="date"></span>
            </div>
        </div>
    </div>

    <div class="clear calendar">
        <div id="today">
            <div>@Model.Calendar.Today.Date.ToString("dd-MM-yyyy") (Today)</div>
            <table>
                @foreach (var item in Model.Calendar.Today.Events)
                {
                    if (item.Public)
                    {
                        <tr>
                            <td><b>@item.Name</b></td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.When</td>
                            <td>@item.Description</td>
                        </tr>
                    }

                }
            </table>
        </div>
        <br/>
        <div id="upcomming">
            @foreach (var item in Model.Calendar.Upcomming.EventsOfDate)
            {
                <div>@item.Date.ToString("dd-MM-yyyy")</div>
                <table>
                    @foreach (var eventItem in item.Events)
                    {

                        if (eventItem.Public)
                        {
                            <tr>
                                <td><b>@eventItem.Name</b></td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@eventItem.Name</td>
                                <td>@eventItem.When</td>
                                <td>@eventItem.Description</td>
                            </tr>
                        }
                        
                    }
                </table>
            }
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/app")
    <script>
        var date = $('#date');
        var day = $('#day');
        var time = $('#time');
        var fCast = $('.report');
        var temp = $('.temperature');
        var weatherDesc = $('.conditions span');
        var loc = $('.weather-location');
        var weatherIcon = $('#weather-icon');

        function updateTime() {
            var now = moment();
            time.html(now.format('h:mm'));
            date.html(now.format('MMMM D'));
            day.html(now.format('dddd'));
            setTimeout(updateTime, 1e3 * 60);
        }

        function updateWeather() {
            Weather.getCurrent('55000', function (current) {
                var desc = current.conditions();
                var city = current.city();
                var icon = Weather.Utils.getIcon(current.icon());

                temp.html(Weather.kelvinToFahrenheit(current.temperature()).toFixed(0) + '\xB0');
                weatherDesc.html(desc);

                loc.html(city);
                weatherIcon.attr('src', icon);
            });

            Weather.getForecast('55000', function (forecast) {
                fCast.html('Forecast High in ' + Weather.kelvinToFahrenheit(forecast.high()).toFixed(0) + '\xB0');
            });

            setTimeout(updateWeather, 1e3 * 3600);
        }

        $(function () {
            updateTime();
            updateWeather();
            setTimeout(function () {
                window.location.reload(1);
            }, 1e3 * 7200);
        });
    </script>
</body>
</html>