﻿* {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
    font-family: "HKGroteskRegular","Segoe UI",Tahoma,sans-serif;
    font-size: 125%;
    line-height: 1.333
}


.clear:after {
    display: table;
    clear: both;
    content: ""
}

h1 {
    margin: 0 auto .75em;
    font: 400 normal 2em "HKGroteskBold","Segoe UI Bold",Tahoma,sans-serif
}

@media (min-width: 50em) {
    body {
        font-size: 150%
    }
}

.back-btn:before, .forward-btn:before, .low-pri-block-title:before, .pos-change:before, .neg-change:before {
    display: block;
    position: absolute;
    top: 50%;
    background-image: url("../icons/icons.svg");
    background-size: 160px 80px;
    content: ""
}

.setup {
    padding: 1em;
    background: #dce9e8;
    background: linear-gradient(227deg, #dce9e8, #dedede, #bdd0d5, #dedede);
    background-size: 800% 800%;
    text-align: center
}

.anim-button {
    display: none;
    margin-bottom: 2em;
    padding: .25em;
    opacity: .6;
    border: 2px solid #000;
    background: transparent;
    font: 400 normal 0.625em "HKGroteskBold","Segoe UI Bold",Tahoma,sans-serif;
    letter-spacing: .05em;
    text-transform: uppercase
}

    .anim-button:hover {
        opacity: 1;
        background: #000;
        color: #fff
    }

    .anim-button:active {
        background: #fff;
        color: #000
    }

.setup.anim-active {
    -webkit-animation: gradientAnim 20s ease infinite;
    -moz-animation: gradientAnim 20s ease infinite;
    animation: gradientAnim 20s ease infinite
}

@-webkit-keyframes gradientAnim {
    0% {
        background-position: 93% 0%
    }

    50% {
        background-position: 0% 100%
    }

    100% {
        background-position: 93% 0%
    }
}

@-moz-keyframes gradientAnim {
    0% {
        background-position: 93% 0%
    }

    50% {
        background-position: 0% 100%
    }

    100% {
        background-position: 93% 0%
    }
}

@keyframes gradientAnim {
    0% {
        background-position: 93% 0%
    }

    50% {
        background-position: 0% 100%
    }

    100% {
        background-position: 93% 0%
    }
}

.setup-content {
    position: relative;
    margin: 0 auto;
    padding: 1em;
    width: 100%;
    max-width: 40em;
    border-top: 8px solid #efefef;
    background: #fff;
    text-align: left
}

    .setup-content a {
        border-bottom: 1px solid;
        color: #3f6562;
        text-decoration: none
    }

        .setup-content a:hover {
            color: #9017d1
        }

        .setup-content a:active {
            border-bottom: 0;
            color: #3f2c8c
        }

    .setup-content::before {
        display: block;
        position: absolute;
        top: -8px;
        left: 0;
        width: 0;
        height: 8px;
        background: #000;
        content: ""
    }

.setup-pagination {
    margin: 0 auto 1em;
    color: #5b5b5b;
    text-align: center
}

.pagination-title {
    margin: 0 0 .5em;
    font: 400 normal 1em/1 "HKGroteskBold","Segoe UI Bold",Tahoma,sans-serif;
    letter-spacing: .05em;
    text-transform: uppercase
}

    .pagination-title + p {
        margin: 0
    }

fieldset {
    margin: 0;
    padding: 0;
    border: none
}

input, button {
    padding: .5em;
    border: 0;
    outline: 0;
    font-family: "HKGroteskRegular","Segoe UI",Tahoma,sans-serif;
    font-size: 1em
}

label {
    display: block
}

input[type="text"], input[type="email"] {
    display: block;
    width: 100%;
    border: 2px solid #777;
    color: #5b5b5b
}

    input[type="text"]:focus, input[type="email"]:focus {
        position: relative;
        border-color: #000;
        background: #eff3f3;
        color: #000
    }

input[type="submit"], button {
    cursor: pointer
}

#form-errors {
    display: none;
    color: #cd0a0a
}

    #form-errors p {
        margin: 2em 0;
        padding: 1em;
        border: 2px solid
    }

.field-item {
    margin-bottom: 1em
}

    .field-item .check-label, .field-item .radio-label {
        position: relative;
        padding-left: 1.75em
    }

        .field-item .check-label input[type="checkbox"], .field-item .check-label input[type="radio"], .field-item .radio-label input[type="checkbox"], .field-item .radio-label input[type="radio"] {
            position: absolute;
            left: 0;
            width: 1em;
            height: 1em
        }

.submit-wrapper {
    margin: 2em 36px 0
}

.back-btn, .forward-btn {
    position: relative;
    padding: .5em 0;
    background: transparent;
    color: #000;
    text-decoration: none
}

    .back-btn:before, .forward-btn:before {
        margin-top: -20px;
        width: 40px;
        height: 40px
    }

a.back-btn, a.back-btn:hover, a.back-btn:active {
    border-bottom: 0;
    color: #000
}

.back-btn {
    float: left
}

    .back-btn:before {
        left: -36px;
        background-position: -120px 0
    }

    .back-btn:hover:before {
        left: -40px
    }

.forward-btn {
    float: right
}

    .forward-btn:before {
        right: -36px;
        background-position: -80px 0
    }

    .forward-btn:hover:before {
        right: -40px
    }

@media (min-width: 50em) {
    .setup-title {
        font-size: 3.5em
    }

    .setup {
        padding: 3em
    }

    .anim-button {
        position: fixed;
        z-index: 2;
        top: 2em;
        right: 2em
    }

    .setup-content {
        padding: 2em;
        text-align: center
    }

    .setup-pagination {
        margin-bottom: 2em
    }

    .field-item label, .field-item input {
        display: inline-block
    }

    .field-item label {
        padding-right: 1em;
        width: 30%;
        text-align: left
    }

    .field-item .check-label, .field-item .radio-label {
        margin-left: 30%;
        width: 60%
    }

    .field-item input[type="text"], .field-item input[type="email"] {
        padding: .5em .25em;
        width: 60%;
        border-width: 0;
        border-bottom-width: 2px
    }

    .submit-wrapper {
        margin-right: auto;
        margin-left: auto;
        width: 90%
    }
}

.attribution {
    display: block;
    margin: 4em auto 0;
    max-width: 30em;
    font-size: .5em;
    line-height: 1.5
}

    .attribution a {
        color: inherit
    }

        .attribution a:hover {
            opacity: .6
        }

.profile-setup {
    overflow-y: scroll
}

    .profile-setup .setup-content::before {
        width: 50%
    }

.tos-field {
    margin-top: 2em;
    font-size: .75em
}

.face-setup .setup-content::before {
    width: 100%
}

.capture-face {
    overflow-y: visible
}

    .capture-face #video {
        position: relative;
        margin: 0 auto 1em;
        padding-top: 75%;
        width: 100%;
        background: #000
    }

    .capture-face #cameraPreview, .capture-face #facesCanvas {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%
    }

    .capture-face #facesCanvas {
        z-index: 2
    }

#message, #snapshot {
    text-align: center
}

@media (min-width: 50em) {
    .capture-face #video {
        width: 90%
    }
}

.tos-content {
    font-size: .825em;
    text-align: left
}

.mirror {
    position: relative;
    padding: 3em;
    overflow: hidden;
    background: #000;
    color: #fff;
    font-size: 100%;
    line-height: 1.25
}

    .mirror p {
        line-height: 1.5
    }

.auth-states {
    margin: 1.5em auto
}

@media (min-width: 50em) {
    .auth-states {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 100%
    }

    .mirror, .auth-state {
        display: flex;
        align-items: center;
        justify-content: center
    }

    .mirror {
        flex-direction: column;
        min-height: 100vh;
        justify-content: space-between
    }

    .eyelevel {
        width: 100%;
        align-self: flex-start
    }

    .auth-state {
        min-height: 100%
    }

    .auth-state-content {
        flex: 1
    }

    .low-pri-content {
        width: 100%;
        align-self: flex-end
    }

    #weather {
        float: left
    }

    .timely-content {
        float: right
    }
}

#video-hidden {
    display: none
}

.auth-state[aria-hidden="true"], .low-pri-content[aria-hidden="true"], #weather[aria-hidden="true"] {
    display: none;
    opacity: 0
}

.auth-state {
    opacity: 1;
    font-family: "HKGroteskLight","Segoe UI Light",Tahoma,sans-serif;
    text-align: center;
    transition: opacity 400ms ease-in-out
}

.auth-state-title {
    margin: 0 auto;
    max-width: 10em;
    font-size: 4em
}

.greeting-salutation, .greeting-name {
    display: block
}

.auth-state-content p {
    margin: 4em auto 0;
    max-width: 22em;
    text-align: left
}

#weather {
    position: relative;
    font-family: "HKGroteskBold","Segoe UI Bold",Tahoma,sans-serif
}

#weather-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 96px;
    height: 120px
}

.temperature {
    padding-right: 104px;
    font-size: 5em
}

.conditions {
    font-size: 2.5em
}

.weather-location {
    letter-spacing: .05em;
    text-transform: uppercase
}

.timely-content {
    text-align: center
}

#timestamp {
    font-size: 2em
}

#time {
    font: 5em/1 "HKGroteskLight","Segoe UI Light",Tahoma,sans-serif
}

.low-pri-block {
    margin-bottom: 1.5em;
    max-width: 14em;
    font-size: 1.5em
}

    .low-pri-block:last-child {
        margin-bottom: 0
    }

.low-pri-block-title {
    margin: 0 0 .75em;
    font: 0.875em/1 "HKGroteskBold","Segoe UI Bold",Tahoma,sans-serif
}

.logged-in-stamp {
    margin-bottom: 3.5em;
    padding-left: 48px;
    font: 1em "HKGroteskBold","Segoe UI Bold",Tahoma,sans-serif;
    letter-spacing: .05em;
    text-transform: uppercase
}

#logged-in-name {
    padding-bottom: 2px;
    border-bottom: 2px solid rgba(255,255,255,0.5)
}

@media (min-width: 50em) {
    .low-pri-block {
        display: inline-block;
        padding: 0 2em 0 48px;
        vertical-align: top;
        width: 49%;
        font-size: 2.25em
    }

        .low-pri-block:last-child {
            padding-right: 0
        }

    .low-pri-block-title {
        position: relative
    }

        .low-pri-block-title:before {
            left: -48px;
            margin-top: -17px;
            width: 35px;
            height: 35px;
            opacity: .5
        }
}

.traffic-title:before {
    background-position: -2px -43px
}

.stocks-title:before {
    background-position: -43px -43px
}

.ticker-list {
    margin: 0;
    padding: 0;
    list-style: none
}

    .ticker-list li + li {
        margin-top: .5em
    }

.symbol {
    font-family: "HKGroteskBold","Segoe UI Bold",Tahoma,sans-serif
}

.pos-change, .neg-change {
    position: relative
}

    .pos-change:before, .neg-change:before {
        left: -40px;
        margin-top: -12px;
        width: 20px;
        height: 24px
    }

    .neg-change:before {
        background-position: -40px 0
    }
/*# sourceMappingURL=style.css.map */
